<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
     <div id="block-body">

     <header class="site-header sticky-top py-1 bg-dark">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">

        <a class="py-2 d-none d-md-inline-block text-light" href="#">Подкасты</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="#">Стажировки</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="#">Сотрудничество</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="#">Стать членом СНС</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="{% url 'login' %}">Логин</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="{% url 'signup' %}">Регистрация</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="#">Имя пользователя - {{ user.username }}</a>
        <a class="py-2 d-none d-md-inline-block text-light" href="{% url 'logout' %}">Выйти</a>
      </nav>
    </header>



    <div>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>