{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
<a href="{% url 'add_post' %}" class="btn btn-outline-secondary">Add an application</a>
  {% else %}
    {% endif %}
    <br>

    <br>
    <p>Filter by spheres:

   {% for sphere in sphere_menu %}
        <a href="{% url 'category' sphere %}">{{ sphere|title}}</a>
    {% endfor %}
    </p>
    <hr>

  {% for post in object_list %}
    <div class="post-entry">
        <small><a href="{% url 'blog_detail' post.pk %}">Details</a> -  </small>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <small><a href="{% url 'update_post' post.pk%}">Update</a></small>
            {% endif %}
        {% endif %}
        <small>Published: {{ post.post_date }}</small>
        <h2>{{ post.author.first_name|title }} {{ post.author.last_name|title }}</h2>
        {% if post.img.url %}
        <p><img class="img-fluid" src = "{{ post.image.url}}"></p>
        {% endif %}
        <b>Sphere - </b><a href="{% url 'category' post.sphere%}"> {{ post.sphere }}</a>
          <p><b>About me:</b><br>{{ post.resume|slice:":200"|safe }}</p>
    </div>
  {% endfor %}
{% endblock content %}