{% extends 'base.html' %}
{% block content %}
    <div class="post-entry">
    {% if user.id == post.author.id %}
       <small><a href="{% url 'update_post' post.pk%}">(Update)</a></small>
    {% endif %}
        <br>
        <h2> {{ post.author }}</h2>
        <p>Published: {{ post.post_date }}</p>
        <hr>
            <p><h3>{{ post.author.first_name|title }} {{ post.author.last_name|title }}</h3></p>
        {% if post.image %}
            <p><img <img width="200" height="100" class="img-fluid" src = "{{ post.image.url}}"></p>
        {% endif %}

        <p class="">Age - {{ post.age }}</p>
      <p>speciality - {{ post.speciality }}</p>
      <p>resume - {{ post.resume|safe }}</p>
      {% if post.cv_pdf %}
        <p><a href="{{ post.cv_pdf.url }}" target="_blank"><h5>CV</h5></a></p>
      {% endif %}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
        <small><a href="{% url 'delete_post' post.pk%} "class="btn btn-outline-danger">Delete</a></small>
            {% endif %}
        {% endif %}
        <br>
        <br>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <button type="submit" name='post_id' value="{{ post.id }}" class="btn btn-primary">{{ total_likes }} Likes</button>
            {% else %}
            <button type="submit" name='post_id' value="{{ post.id }}" class="btn btn-primary">{{ total_likes }} Likes</button>
            {% endif %}
        </form>
        <hr>
        <a href="{% url 'blog' %}" class="btn btn-outline-secondary">Back</a>
    </div>
    </div>
{% endblock %}